{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block header %}Admin Foods list{% endblock %}

{% block body %}

    {% for message in app.flashes("success")%}
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}

      </div>
    {% endfor %}

    <a href="{{ path('app_admin_food_new') }}" class="btn btn-success m-5">Add food</a>



    <table class="table">
      <tr class="table-primary">
        <td>Image</td>
        <td>Name</td>
        <td>Type</td>
        <td>Price</td>
        <td>Calorie</td>
        <td>Protein</td>
        <td>Carbohydrates</td>
        <td>Lipids</td>
        <td>Actions</td>
      </tr>
      {% for food in foods %}
      <tr>
        <td ><img src="{{ asset('images/food/' ~ food.imageName)}}" class="avatar"></td>
        <td>{{ food.name|title }}</td>
        <td>{{ food.type.label }}</td>
        <td>{{ food.price }}</td>
        <td>{{ food.calorie }}</td>
        <td>{{ food.protein }}</td>
        <td>{{ food.carbohydrates}}</td>
        <td>{{ food.lipids }}</td>
        <td>
          <a href="{{ path('app_admin_food_edit', {'id':food.id}) }}"class="btn btn-info">Modify</a>

          <form method="POST" style="display: inline-block"  action="{{ path('food_destroy', {'id':food.id}) }}" onsubmit="return confirm('Are you sure you want to delete this food?')">

            <input type="hidden" name="_method" value="SUP">
            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ food.id)}}">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>



      {% endfor %}
    </table>

{% endblock %}
