{% extends 'base.html.twig' %}

{% block title %}Nutrition{% endblock %}

{% block header %}Foods list {{ isCalorie ? 'under 50 calories' : ""}}{{ isCarbohydrate ? 'under 6 carbohydrates' : ""}}{% endblock %}

{% block body %}

    {% if isAll %}

    {% else %}
      <a href="{{ path('foods')}}", class="btn btn-primary m-3">All foods</a>
    {% endif %}


    {% if isCalorie %}

    {% else %}
      <a href="{{ path('food_by_calorie', {'calorie': 50})}}", class="btn btn-success m-3">Find foods under 50 calories for 100g</a>
    {% endif %}

      {% if isCarbohydrate %}

      {% else %}
           <a href="{{ path('food_by_carbohydrates', {'carbohydrates': 6})}}", class="btn btn-info m-3">Find foods under 6 carbohydrates for 100g</a>
      {% endif %}




    <div class="foods-container">

      {% for food in foods %}

      <div class="card" style="width: 18rem;">
        <img src="{{ asset('images/' ~ food.imageName)}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{food.name|title}}</h5>
          <p class="card-text">Price: {{ food.price }} $</p>
          <table class="table table-hover">
            <thead>
              <tr class="table-info">

                <th scope="col-2">Nutrition for: </th>
                <th scope="col-2">100 g</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <th>Calorie</th>
                  <td>{{food.calorie}}</td></td>
                </tr>
                <tr>
                  <td>Protein</td>
                  <td>{{food.protein}}</td>
                </tr>
                <tr>

                  <td>Carbohydrates</td>
                  <td>{{food.carbohydrates}}</td>
                </tr>
                <tr>
                  <td>Lipids</td>
                  <td>{{food.lipids}}</td>
                </tr>
              </tbody>
            </table>

        </div>
      </div>


      {% endfor %}

    </div>



{% endblock %}
